/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans' ;
  font-size: 15px;
  height: 6000px;
  background: #F5F8FA;
}

header{
  position: relative;
}

/* general utilities */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.float_left{
  float: left;
}

.a_nostyle a{
  text-decoration: none;
}

.li_nostyle li{
  list-style: none;
  display: inline-block;
}

.w_50{
  width: 50%;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #fe775a;
  line-height: 23px;
  text-decoration: none;
}

.btn_white{
  padding: 5px 10px;
  color: #fe775a;
  font-weight: bold;
}

.btn_orange{
  background: #fe775a;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

.btn_orange_2{
  background: #fe775a;
  border: 0;
  color: white;
}

.font_color_i i{
  color: #fe775a;
}


/* Header */

/* first part header */
.header_conteiner{
  position: relative;
}

.header_fixed{
  background: #FFFFFF;
  line-height: 80px;
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* header fixed col1 */
.h_f_col1 select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: transparent transparent transparent transparent;
  background-color: transparent;
  cursor: pointer;
}

.h_f_col1 a{
  color: black;
}

.h_f_col1 span{
  padding: 0 15px;
}

/* header fixed col 2 */
.h_f_col2{
  text-align: right;
}

.h_f_col2 li{
  padding: 0 10px;
}

.h_f_col2 i{
  color: #27afc4;
}

/* second part header */

.header_menu{
  margin-top: 80px;
  line-height: 80px;
  background: #FFFFFF
}

/* header menu col1 */
.h_m_col1 img{
  vertical-align: middle;
}


/* header menu col 2 */
.h_m_col2{
  text-align: right;
}

.h_m_col2 a{
  padding: 0 7px;
  color: grey;
  font-weight: bold;
}

.h_m_col2 i{
  padding-left: 10px;
  color: grey;
  font-weight: bold;
}

/* third part header */
/* Jumbotron */
.background_jumbotron{
  background: #FFF1EE;
  height: 600px;
  border-bottom: 3px solid #33475B;
  overflow: hidden;
}

.jumbotron {
  position: relative;
  height: 600px;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-position: 0 0.5px;
  z-index: 1;
}

.jumbotron_text {
  padding-top: 40px;
  width: 600px;
  height: 100%;
}

.jumbotron_text h1 {
  margin-bottom: 35px;
  font-size: 45px;
  line-height: 55px;
  color: #33475B;
  font-weight:  bold;
}
.jumbotron_text p {
  width: 500px;
  font-size: 15px;
  color: #33475B;
  font-weight:  bold;
}

.jumbotron_text .btn_orange_2{
  padding: 20px 25px;
  margin: 25px 0;
}
.jumbotron_text :nth-last-child(1) {
  font-size: 11px;
  color: #33475B ;
  font-weight:  bold;
}


.boottom_jumbotron {
  bottom: 0;
  position: absolute;
  height: 71px;
  width: 50%;
  background: #afebe4;
  border-top: 2.5px solid #33475B;
  border-bottom: 3px solid #33475b;
}

.boottom_jumbotron2 {
  left: 50%;
  bottom: 0;
  position: absolute;
  height: 129px;
  width: 50%;
  background: #00A48D;
  border-top: 2.5px solid #33475b;
  border-bottom: 3px solid #33475b;
}

/* Main */
.p_row_1{
  margin: 60px 0 50px 0;
  text-align: center;
}

.p_row_1 img{
  height: 200px;
}

.p_row_1 h2{
  font-size: 35px;
  color: #33475B;
  font-weight: bold;
}

.p_row_1 p{
  margin: 0 auto;
  padding: 20px 0;
  width: 70%;
  font-size: 15px;
  color: #33475B;
  font-weight: bold;
  line-height: 30px;
}

/* row 2 section plain */
.p_row_2{
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 3px solid #e8e8e8;
  border-radius: 5px;
  height: 300px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p_row_2:hover{
  -moz-transform: scale(4.1);
  -webkit-transform: scale(4.1);
  transform: scale(1.02);
}
  /* row2 column 1 */
.p_row_2_col_1{
  text-align: center;
  width: 30%;
  height: 100%;
  padding: 40px;
}

.p_row_2_col_1 img{
  text-align: center;
  width: 170px;
  /* height: 120px; */
}
.p_row_2_col_1 .btn_orange_2{
  padding: 15px 30px;
  margin: 25px 0;
}

/* row2 column 2 */
.p_row_2_col_2{
  width: 70%;
  height: 100%;
  padding: 30px 0;
}

.p_row_2_col_2 h3{
  color:#33475B;
  font-size: 25px;
  padding: 10px 0;
}

.p_row_2_col_2 p{
  color:#33475B;
  font-size: 15px;
  padding: 10px 0;
  width: 75%;
  font-weight: bold;
}

.p_row_2_col_2 h4{
  color:#33475B;
  font-size: 20px;
  padding: 15px 0;
  font-weight: bold;
}

.p_row_2_col_2 i {
  font-size: 18px;
}

.p_row_2_col_2 span{
  padding: 10px 10px;
  font-size: 18px;
}

/* row 3 section plain */
.p_row_3{
  margin-top: 50px;
}

.p_row_3_col_1,
.p_row_3_col_2,
.p_row_3_col_3 {
  width: calc(100% / 3);
}

.p_row_3_col_1{
  padding-right: 20px;
}

.p_row_3_col_2{
  padding: 0 20px;
}

.p_row_3_col_3{
  padding-left: 20px;
}

.box{
  text-align: center;
  padding: 30px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 3px solid #e8e8e8;
  border-radius: 5px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box:hover{
  -moz-transform: scale(4.1);
  -webkit-transform: scale(4.1);
  transform: scale(1.02);
}

.box img{
  height: 200px;
}

.box h3{
  font-size: 20px;
  color: #33475B;
  padding: 25px 0;
  font-weight: bold;
}

.box p{
  text-align: center;
  font-size: 17px;
  color: #33475B;
  font-weight: bold;
  padding-bottom: 60px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
.box h4{
  font-size: 20px;
  color: #33475B;
  font-weight: bold;
  padding: 15px 0;
}

.box_info {
  text-align: left;
  line-height: 25px;
  padding-bottom: 45px;
}

.box_info span {
  padding: 0;
  display: block;
}

.box .btn_orange{
  color: white;
  padding: 20px 35px;
}

/* fine sezione 1 */
/* inizio sezione 2 */

#info{
  background: #00B9AA;
  margin-top: 50px;
  /* height: 700px; */
  padding: 50px 50px 100px 50px;
}
.info_community{
  text-align: center;
  /* background: gray; */
  height:200px;
  width: 100%;
}

.info_community h2{
  margin: 0 auto;
  width: 1100px;
  color: white;
  font-size: 30px;
}

.info_community p{
  padding: 25px 10px;
  color: white;
  font-size: 15px;
}

.tab1{
  width: 25%;
}

.tab_raw1{
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.tab_raw2{
  text-align: center;
  padding: 30px;
  border-left: 1px solid white;
}

.tab1:first-child .tab_raw1,
.tab1:first-child .tab_raw2{
  border-left: none;
}

.tab_img img{
  height: 45px;
  width: 120px;
}

.tab_h4 h4{
  font-size: 40px;
  color: white;
  padding: 10px;
}

.tab_h5 h5{
  font-size: 16px;
  color: white;
}






































/*  */
