/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans' ;
  font-size: 15px;
  height: 2000px;
  /* background: grey; */
}

header{
  position: relative;
}

/* general utilities */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.float_left{
  float: left;
}

.a_nostyle a{
  text-decoration: none;
}

.li_nostyle li{
  list-style: none;
  display: inline-block;
}

.w_50{
  width: 50%;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #fe775a;
  line-height: 23px;
  text-decoration: none;
}

.btn_white{
  padding: 5px 10px;
  color: #fe775a;
  font-weight: bold;
}

.btn_orange{
  background: #fe775a;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

.btn_orange_2{
  background: #fe775a;
  border: 0;
  padding: 20px 25px;
  color: white;
  margin: 25px 0;
}

/* Header */

/* first part header */
.header_conteiner{
  position: relative;
}

.header_fixed{
  background: #FFFFFF;
  line-height: 80px;
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0;
  width: 100%;
}

/* header fixed col1 */
.h_f_col1 select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: transparent transparent transparent transparent;
  background-color: transparent;
  cursor: pointer;
}

.h_f_col1 a{
  color: black;
}

.h_f_col1 span{
  padding: 0 15px;
}

/* header fixed col 2 */
.h_f_col2{
  text-align: right;
}

.h_f_col2 li{
  padding: 0 10px;
}

.h_f_col2 i{
  color: #27afc4;
}

/* second part header */

.header_menu{
  margin-top: 80px;
  line-height: 80px;
  background: #FFFFFF
}

/* header menu col1 */
.h_m_col1 img{
  vertical-align: middle;
}


/* header menu col 2 */
.h_m_col2{
  text-align: right;
}

.h_m_col2 a{
  padding: 0 7px;
  color: grey;
  font-weight: bold;
}

.h_m_col2 i{
  padding-left: 10px;
  color: grey;
  font-weight: bold;
}

/* third part header */
/* Jumbotron */
.background_jumbotron{
  background: #FFF1EE;
  height: 595px;
  border-bottom: 3px solid #33475B;
  overflow: hidden;
}

.jumbotron {
  height: 600px;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  padding: 50px 0;
}

.jumbotron_text {
  width: 600px;
  height: 100%;
}

.jumbotron_text h1 {
  margin-bottom: 15px;
  font-size: 350%;
  color: #33475B;
  font-weight:  bold;
}
.jumbotron_text p {
  font-size: 16px;
  color: #33475B;
  font-weight:  bold;
}
.jumbotron_text :nth-last-child(1) {
  font-size: 11px;
  color: #33475B ;
  font-weight:  bold;
}

/* Main */
.p_row_1{
  margin: 100px auto;
  text-align: center;
}

.p_row_1 img{
  height: 200px;
}

.p_row_1 h2{
  font-size: 35px;
  color: #33475B;
  font-weight: bold;
}

.p_row_1 p{
  margin: 0 auto;
  padding: 20px 0;
  width: 70%;
  font-size: 15px;
  color: #33475B;
  font-weight: bold;
  line-height: 30px;
}

/* row 2 section plain */
.p_row_2{
  border: 1px solid grey;
  border-radius: 5px;
  height: 300px;
}

.p_row_2_col_1 img{
  height: 100px;
}































/*  */
